albumentations
einops
hydra-core
matplotlib
numpy
omegaconf
opencv-python-headless
openslide-python
pandas
Pillow==9.5.0
pytorch-lightning
PyYAML
qt-wsi-registration
scikit-image
scikit-learn
scipy
segmentation-models-pytorch
shapely
tifffile
torch
torchmetrics
torchvision
tqdm
urllib3
wandb
